body{
  background-color: #beee3b
}
p{
  text-align: justify; font-size: 25px; color: #00000
}
li{ text-align: center;font-size: 30px; color: #582770
}
.parte1{
  background-color: orange
}
.cabeçalho {
  width: 40%
}
nav li{
  display: inline;
  padding: 5%;
  margin-left: 2%
}
nav{
  position: relative;
  bottom: 110px;
  left: 400px
}
ul{
  display: block ruby;
}
